<app-header></app-header>
<section>
  <article>
    <div class="titulo01">
      <h1>Quem Somos</h1>
    </div>
    <div class="conteudo01">
      <div class="imagem">
        <!--<img src="" alt="foto-quem-somos">-->
      </div>
      <div class="texto">
        <p>O Ministério Apostólico e Profético Jeová Jiré é uma igreja comprometida com a transformação de vidas por
          meio
          da Palavra de Deus e do poder do Espírito Santo. Somos uma comunidade acolhedora e vibrante, onde cada pessoa
          é
          incentivada a desenvolver uma relação pessoal com Deus, a crescer em fé e a descobrir seu propósito divino.
          Guiados pelo chamado apostólico e profético, buscamos não apenas proclamar o evangelho, mas também equipar e
          capacitar nossos membros para viverem uma vida plena em Cristo. Aqui, encontramos apoio, amor e direção para
          enfrentar os desafios da vida e experimentarmos a graça e o amor de Deus de forma prática e constante.</p>
      </div>
    </div>
  </article>
  <article>
    <div class="titulo02">
      <h1>Nossa Missão</h1>
    </div>
    <div class="conteudo02">
      <div class="imagem">
        <!--<img src="" alt="foto-missao">-->
      </div>
      <div class="texto">
        <p>Nossa missão é ser um instrumento de Deus para levar salvação, cura e libertação a todos os que buscam uma
          nova
          vida em Jesus. Como igreja, trabalhamos para alcançar os perdidos, edificar os santos e transformar nossa
          comunidade pela verdade e pelo amor de Cristo. Buscamos viver e proclamar o evangelho de maneira fiel,
          fortalecendo nossa fé e desenvolvendo líderes que impactem o mundo ao nosso redor. Com propósito e dedicação,
          queremos ser luz em meio às trevas, inspirando cada pessoa a viver uma vida de plenitude e propósito segundo o
          plano perfeito de Deus.</p>
      </div>
    </div>
  </article>
</section>
<app-footer></app-footer>
