.header-container{
  display: flex;
  min-height: 70px;
  background-color: #000;
  color: #fff;
}

.logo-img{
  width: 10%;
  background-color: #1dcdcd;
  min-height: 70px;
  max-height: 70px;
  margin-left: 1.5rem;
}

.logo-img img{
  cursor:pointer;
  min-height: 70px;
  max-height: 70px;
  max-width: 10%;
}

.nav-menu-container{
  display: flex;
  margin-left: 20%;
  background-color: #cfe54f;
  width: 100%; /*ou 644px*/
  height: inherit;
}

.nav-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: inherit;
  background-color: #f600e3;
  margin-right: 25%

}

.nav-menu-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  margin-right: 25%;
  height: inherit;
  background-color: #7132cd;
}
