@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Saira+Stencil+One&display=swap');
@IMPORT URL("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Saira+Stencil+One&display=swap");

* {
  background: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
